.container input {
    border: 1px solid red;
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 40px;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
}